{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "wooden_furnace/CHANGELOG.md"
      }
    ],
    [
      "semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": ["wooden_furnace/config.yaml"],
            "from": "version: \".*\"",
            "to": "version: \"${nextRelease.version}\""
          }
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["wooden_furnace/CHANGELOG.md", "wooden_furnace/config.yaml"]
      }
    ],
    "@semantic-release/github"
  ]
}
